* {
  font-family: "Fredoka One", cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fredoka One", cursive;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f5e6c8, #e8c99a);
}
